<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NCP2 Flask Demo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <main class="hero">
      <section class="card">
        <p class="eyebrow">NCP2 Practice</p>
        <h1>Flask + Nginx 영빈</h1>
        <p class="description">
          adsfadfasdfasdfasdfasdf
        </p>
        <div class="tags">
          <span>Ubuntu</span>
          <span>Flask</span>
          <span>Nginx</span>
        </div>
      </section>
    </main>
  </body>
</html>
